<div class="row" style="margin-top: 30px">
  <h1>教师简介</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="tinfo">
      <tr>
        <td>教师编号</td>
        <td>123</td>
        <!--<td ngIf></td>-->
      </tr>
      <tr>
        <td>姓名</td>
        <td>123</td>
      </tr>
      <tr>
        <td>教学领域</td>
        <td>123</td>
      </tr>
      <tr>
        <td>最高学历</td>
        <td>123</td>
      </tr>
      <tr>
        <td>从业时间</td>
        <td>123</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <img src="../img/160301111147.jpg" alt="教师头像">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="tdbasic">履历</p>
    <p>2010年XXX2011年XXXX2013年XXXXX</p>
    <!--<textarea name="" id="" rows="10" ngModel=""></textarea>-->
    <div>
      全职<input type="radio" value="全职" ng-model="">
      兼职<input type="radio" value="兼职" ng-model="">
    </div>


  </div>
</div>